<!-- Index.html file -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendingmachine.css' %}">
    <title>QR Vending Machine</title>
</head>

<body>
    <div class="container">
        <h1>Medical Vending Machine</h1>
        <div class="section">
            <div id="my-qr-reader"> </div>
        </div>
    </div>
    <form id="qr_form" method ="POST" action="">
        {% csrf_token %}
    </form>
    <script
        src="https://unpkg.com/html5-qrcode">
    </script>
    
    <script>
        function domReady(fn)
        {
            if (
                document.readyState === "complete" ||
                document.readyState === "interactive"
            ) {
                setTimeout(fn, 1000);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        domReady(function () {

            // If found you qr code
            function onScanSuccess(decodeText, decodeResult) {
                const form = document.getElementById("qr_form");

                const qr_data = {
                    'qrCode': decodeText
                };

                // Loop through the variables and create input elements
                for (const key in qr_data) {
                    if (qr_data.hasOwnProperty(key)) {
                        const input = document.createElement("input");
                        input.type = "hidden"; // Use hidden input to send data without displaying it
                        input.name = key; // Set the name attribute
                        input.value = qr_data[key]; // Set the value attribute
                        form.appendChild(input); // Append the input to the form
                    }
                }

                // Submit the form
                form.submit();
            }

            let htmlscanner = new Html5QrcodeScanner(
                "my-qr-reader",
                { fps: 30, qrbos: 250 }
            );
            htmlscanner.render(onScanSuccess);
        });
    </script>
</body>
</html>
